@tailwind base;

@layer base {
  :root {
    /* Neutral Colors */
    --hgray-0: 0 0% 100%;
    --hgray-50: 0 0% 98%;
    --hgray-100: 0 0% 96%;
    --hgray-200: 0 0% 90%;
    --hgray-300: 0 0% 83%;
    --hgray-400: 0 0% 64%;
    --hgray-500: 0 0% 45%;
    --hgray-600: 0 0% 32%;
    --hgray-700: 0 0% 25%;
    --hgray-800: 0 0% 15%;
    --hgray-900: 0 0% 9%;
    --hgray-950: 0 0% 0%;

    /* Rausch Colors */
    --peach-50: 359, 100%, 90%;
    --peach-100: 358, 100%, 87%;
    --peach-200: 359, 100%, 84%;
    --peach-300: 358, 100%, 81%;
    --peach-400: 358, 100%, 77%;
    --peach-500: 358, 100%, 74%;
    --peach-600: 358, 100%, 71%;
    --peach-700: 358, 100%, 68%;
    --peach-800: 358, 75%, 61%;
    --peach-900: 358, 56%, 54%;
    --peach-950: 358, 48%, 47%;

    /* Traffic Colors */
    --hgreen-400: 130, 83%, 27%;
    --hyellow-400: 36, 96%, 55%;
    --hred-400: 0, 87%, 42%;

    --radius: 0.5rem;
  }
}
