@tailwind base;

@layer base {
  :root {
    /* Neutral Colors */
    --gray-0: 0 0% 100%;
    --gray-50: 0 0% 98%;
    --gray-100: 0 0% 96%;
    --gray-200: 0 0% 90%;
    --gray-300: 0 0% 83%;
    --gray-400: 0 0% 64%;
    --gray-500: 0 0% 45%;
    --gray-600: 0 0% 32%;
    --gray-700: 0 0% 25%;
    --gray-800: 0 0% 15%;
    --gray-900: 0 0% 9%;
    --gray-950: 0 0% 0%;

    /* Rausch Colors */
    --peach-50: 359, 100%, 90%;
    --peach-100: 358, 100%, 87%;
    --peach-200: 359, 100%, 84%;
    --peach-300: 358, 100%, 81%;
    --peach-400: 358, 100%, 77%;
    --peach-500: 358, 100%, 74%;
    --peach-600: 358, 100%, 71%;
    --peach-700: 358, 100%, 68%;
    --peach-800: 358, 75%, 61%;
    --peach-900: 358, 56%, 54%;
    --peach-950: 358, 48%, 47%;

    /* Traffic Colors */
    --green-400: 130, 83%, 27%;
    --yellow-400: 36, 96%, 55%;
    --red-400: 0, 87%, 42%;

    --radius: 0.5rem;
  }
}
